@media screen and (min-width: 768px) {

    .shoppingCartButton {
        background: #5596F5;
        border-radius: 0.4em;
        padding: 0.6em;
        color: white;
        width:40%;
        font-size: 18px;
        letter-spacing: 0.2px;
    }

    .mobileTemplateClass {
        border-radius: 8px;
        display: flex;
        flex-direction: column;
        align-items: center;
        flex-wrap: wrap;
        padding-top: 3em;
        }
        

    .divMobileProduct {
        text-align: center;
        background: white;
        width:100vw;
        height:100vh;
    }
}