@media screen and (min-width: 992px) {

    .shoppingCartButton {
        background: #5596F5;
        border-radius: 0.4em;
        padding: 0.6em;
        color: #ffffff;
        width:18%;
        font-size: 18px;
        letter-spacing: 0.2px;
        cursor: pointer;
    }
    
    .mobileTemplateClass {
        border-radius: 8px;
        display: flex;
        flex-direction: column;
        align-items: center;
        flex-wrap: wrap;
        padding-top: 6em;
    }
    

    .divMobileProduct {
        text-align: center;
        background: #ffffff;
        background-image: linear-gradient( #ffffff, #f5f5f5);
        width:100vw;
        height:100vh;
    }
    .myCart {
        color:  #212121;
        text-align: center;
        position: relative;
    }
    
    .myCart h1  {
        margin-top: 3em;
        font-size: 3.2em;
        font-weight: bolder;
        font-family: Arial, Helvetica, sans-serif;
        letter-spacing: -1px;
    }
    
    .navbar-brand   {
        font-size: 30px;
        font-weight: bold;
        cursor: pointer;
    }
    
    .nav-item .fa-shopping-cart  {
        cursor: pointer;
    }

    .titleText {
        font-size: 30px;
    }
}

